
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');



h1{
    font-family: "Ephesis", serif;
    font-size: 32px;
    color: rgb(233, 9, 233);
  }
  p{

    font-size: 32px;
    color: rgb(7, 7, 7);
  }
  button{
    padding: 10px;
    background-color: black;
    color: white;
    text-transform: uppercase;
  }
  

  .outer > p{
    color: aquamarine;
  }

  [disabled]{
    background-color: gray;
  }