*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ddd;

    display: flex; /*box gulake row wise nia asbe,, easily korte parlam flex use kore*/

    /* Flex Properties */
    /* flex-direction: column; sob gula box column a nibe, default to row tei thake; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */

    
    /* flex-wrap: wrap; age html file a jaye wrap er jonne line uncommit koro,,ei line likhar age run kore dekho,, olpo jaygay sob box nive,, ei line likhle actual size asbe box er */
    
    /* flex-flow: row-reverse wrap; eksathe 2 ta kaj kore, age reverse korbe pore wrap korbe */

}
.box{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}