*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ddd;

    display: flex;
    
    /* justify property horizontally kaj kore */
   /* justify-content: start; sobgulai gaye gaye lage thakbe suru thake */
    /* justify-content: end; */
    /* justify-content: center; */
    /* justify-content: space-between; soman space nia bose jabe */
    /* justify-content: space-evenly; start and end eo soman space dibe */
    /* justify-content: space-around; start and end a olpo and box er majhe same spacce */

/* 
    align item vartically kaj kore, so hight barate hobe green 180, blue 120 koro */

    /* align-items: start; */
    /* align-items: end; aro jante pdf flexbox */
}
.box{
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
    height: 180px;
}

.blue{
    background-color: blue;
    height: 120px;
}